* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/bac-fraise.jpg') center center fixed no-repeat;
    background-size: cover;

}

/* .page-home{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/bac-fraise.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 1600px;
   
}
.page-about{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/bac-fraise.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 1110px;
}

.page-product{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/bac-fraise.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 2670px;
}

.page-store{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/bac-fraise.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 2250px;
} */

.span {
    font-size: 20px;
}

.header h1 {
    letter-spacing: 15px;
    font-size: 50px;
}

.mon-nav {
    background-color: rgb(57, 5, 5);
    color: white;
}

.frese-res2{
    margin-bottom: 45%;
}

.frese-res{
    margin-bottom: 45%;
}

.pink {
    margin-bottom: 5%;
}



.div-image img {
    width: 95%;
}

.person {
    background-color: rgb(227, 193, 151);
    width: 30vw;
    z-index: 2;
    position: absolute;
    margin-top: 3%;
    text-align: center;
    padding: 2% 3%;
    border-radius: 5px;
}

button {
    background-color: rgb(57, 5, 5);
    position: relative;
    top: 50px;
    padding: 3% 10%;
    border: none;
    font-weight: 700;
}

.div-image {
    width: 50vw;
    z-index: 1;
    position: absolute;
    margin-left: 18%;

}

.div-grid {
    margin-top: 5%;
    margin-bottom: 35%;
}

.section-proimise {
    background-color: rgba(131, 7, 7, 0.474);
    padding: 3% 0 1% 0;
    margin-bottom: 2%;
}

.proimise {
    text-align: center;
    background-color: rgb(211, 180, 142);
    padding: 2%;
    margin: 1%;
}

.div-border {
    margin-bottom: 3%;
    margin-right: 25%;
    margin-left: 25%;
    border: 1px solid white;
    border-radius: 3px;
}

.div-p {
    margin-left: 25%;
}

/*-------footer--------*/

footer {
    background-color: rgb(70, 27, 27);
}

/*----------page2---------*/
.div-image-res img {
    width: 150%;
}

.coffee {
    background-color: rgb(227, 193, 151);
    width: 40vw;
    z-index: 2;
    position: absolute;
    margin-left: 32%;
    padding: 2% 3%;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-top: 17%;
}



.div-image-res {
    margin-left: 10%;
    width: 50vw;
    z-index: 1;
    position: absolute;
    margin-left: 18%;
}


/*----------page3---------*/
.teas {
    background-color: rgb(227, 193, 151);
    width: 23vw;
    z-index: 2;
    position: relative;
    left: 70%;
    text-align: center;
    border-radius: 5px;
    top: 75px;
}

.div-image-teas {
    width: 50vw;
    z-index: 1;
    margin-left: 20%;

}

.divp-teas {
    background-color: rgb(227, 193, 151);
    width: 27vw;
    z-index: 2;
    position: relative;
    text-align: center;
    border-radius: 5px;
    bottom: 60px;
}


/*----------page3---------*/
.cabkery {
    background-color: rgb(227, 193, 151);
    width: 25vw;
    z-index: 2;
    position: relative;
    left: 10%;
    text-align: center;
    border-radius: 5px;
    top: 70px;
}

.div-image-cabkery {
    width: 50vw;
    z-index: 1;
    margin-left: 20%;
}

.divp-cabkery {
    background-color: rgb(227, 193, 151);
    width: 25vw;
    z-index: 2;
    position: relative;
    left: 60%;
    text-align: center;
    border-radius: 5px;
    bottom: 50px;
}


/*---------section-table--------  */

.div-table {
    background-color: rgb(227, 193, 151);
    height: 110vh;

}

table td {
    color: gray;
    background-color: grey;
}



.div-border2 {
    margin-bottom: 3%;
    margin-right: 25%;
    margin-left: 25%;
    border: 1px solid white;
    border-radius: 3px;
    padding: 8px;
    opacity: 0.9;
}

.open {
    background-color: rgb(227, 193, 151);
    width: 45vw;
    z-index: 2;
    position: absolute;
    margin-left: 32%;
    padding: 2% 3%;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-top: 17%;
}

.section-table {
    background-color: rgba(131, 7, 7, 0.444);
    margin-top: 5%;
    padding: 3% 0 0 0;
    margin-bottom: 2%;
}

@media screen and (max-width:1350px) {
    .person {
        background-color: rgb(227, 193, 151);
        width: 50vw;
        z-index: 0;
        position: none;
        margin-top: 40%;
        text-align: center;
        padding: 2% 3%;
        border-radius: 5px;
        margin-left: 15%;

    }

    .frese {
        margin-bottom: 90%;
    }


    .coffee {
        background-color: rgb(227, 193, 151);
        width: 50vw;
        z-index: 2;
        position: absolute;
        margin-left: 28%;
        padding: 2% 3%;
        border-radius: 5px;
        margin-bottom: 5%;
        margin-top: 17%;
    }

    .frese-res {
        margin-bottom: 55%;
    }
 
    .frese-res2{
        margin-bottom: 85%;
    }
    /* PAGE 3 */

    .teas {
        left: 77%;
    }

    .div-image-teas img,
    .div-image-cabkery img, .div-image-res img {
        width: 140%;
    }

    

    .divp-cabkery {
        left: 77%;
    }

}


@media screen and (max-width:830px) {

    .coffee {
        width: 70vw;
        margin-left: 22%;
    }

    .frese-res {
        margin-bottom: 85%;
    }
    .frese-res2{
        margin-bottom: 160%;
    }
}

@media screen and (max-width:550px) {
    .coffee {
        width: 70vw;
    }

    .frese-res {
        margin-bottom: 180%;
    }

    .frese-res2{
        margin-bottom: 300%;
    }

    .div-grid {
        margin-bottom: 105%;
    }


    .table-table{
        font-size: 12px;
    }

    button {
        top: 20px;
        padding: 3% 10%;
        border: none;
        font-weight: 700;
    }
    
}

@media screen and (max-width:380px){
    .frese-res2{
        margin-bottom: 460%;
    }
}